/* General Styles */
html {
    overflow-x: hidden; 
}
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth; /* Smooth scrolling */
    overflow-x: hidden; 
}

/* Navbar General Styles */
.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.507); /* Dark background color for navbar */
    z-index: 1000; /* Ensures navbar is always on top */
    transition: background-color 200ms; /* Add transition effect for smooth color change */
}

.navbar ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(81, 79, 92, 0.322); /* Apply background color from variable */
    display: flex;
    justify-content: left;
    box-shadow: 0 3px 8px rgba(rgba(240, 236, 236, 0.664), 0.5); /* Add box shadow for some depth */
}

.navbar ul li {
    display: inline-block; /* Ensure the list items are inline */
}

.navbar ul li a {
    display: block;
    color: rgb(7, 7, 7); /* Use your grey variable */
    text-align: right;
    font-size: 0.8em;
    font-weight: 900;
    padding: 10px 16px;
    text-transform: uppercase; /* Apply text transformation */
    text-decoration: none;
    letter-spacing: .2em;
    position: relative;
    transition: color 200ms;
    z-index: 2; /* Ensures the text is above the background */
}

.navbar ul li a:hover {
    background-color: rgba(8, 8, 8, 0.555); /* Change to blue on hover */
    color: menu-background; /* Inverse the color when hovered */
}

/* Hover Effects with 3D Transform */
.navbar ul li a::after {
    content: attr(data-title); /* Display the same text in the after element */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 14px 16px;
    background-color: rgb(255, 0, 0); /* Color changes dynamically */
    color: transparent; /* Initially hide the text */
    transform-origin: 50% 0%;
    backface-visibility: hidden;
    transform: translate3d(0, -100%, 0) rotateX(-90deg); /* Start with 3D rotation */
    transition: transform 200ms ease-in-out;
    z-index: -1;
}

.navbar ul li a:hover::after {
    color: white;
    transform: translate3d(0, 0, 0) rotateX(0deg); /* Animate into place */
}

/* Hero Section */
.herosection {
    
    background-image: url('public/intro-bgDarkVersion.jpg'); /* Add your background image */
    background-size: cover; /* Cover entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* No repetition of the image */
    height: 100vh; /* Full viewport height */
    
    position: relative; /* Contain absolutely positioned elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Prevent any overflow */
}

.theMoon {
       
    position: absolute;
    top: 0;
    left: 3.2em;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
   z-index: 2;
    border-radius: 50%;
}
.text-container{
    display: flex;
    flex-direction: column;
    
   
    position: absolute;
    top: 12em;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* Hero Text Styles */
.herotText {
    z-index: 3;
    
   
    font-size: 4.5em; /* Adjust size as per your design */
    font-weight: bold;
    color: white; /* Default text color */
    text-transform: uppercase;
    line-height: 1; /* Spacing between the lines */
}

.herotText .highlight {
    color: red; /* Make the word "NOT" red */
}

/* Undertext Styles */
.herotUnderText {
    z-index: 2;
    font-size: 1.6em; /* Adjust size */
    color: #ffffff; /* Set the color of the under text */
    
    max-width: 60%; /* Control width for better readability */
    text-align: center;
}
.SKY {
   
    z-index: 1; /* Ensure it stays behind the moon */
    font-size: 3.5em;
    position: relative; /* Ensure it's positioned correctly */
    top: -3.8em; /* Adjust as necessary */
    /* Adjust position relative to the hero section */
    color: white;
}


/* Adjust text size for smaller screens */
@media (max-width: 768px) {
    .herotText {
        font-size: 4em;
        position: absolute;
      top: -.5em;
    }
    .herotUnderText {
     display: none;

    }
    .SKY{
       
        font-size: 3em;
        position: absolute;
        top: 2em;
   
       
    }
}





* {
  box-sizing: border-box;
}


.wrapper {
    z-index: 3;
    display: flex;
    justify-content: center;
    position: absolute;
    top:22.5em
}

.cta {
    display: flex;
    padding: .09em 1em;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    background: #3d21ba;
    transition: 1s;
    box-shadow: 6px 6px 0 rgb(215, 215, 215);
    transform: skewX(-15deg);
}

.cta:focus {
    outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #9c0606;
}

.cta .cta-text {
    transition: 0.5s;
}

.cta:hover .cta-text {
    margin-right: 45px; /* Adjust margin for specific text */
}

.cta-icon path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.cta-icon path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .cta-icon path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .cta-icon path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .cta-icon path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


/* About Section */
.styling-separator {
    z-index: 1;
    height: 200px;
    width: 110%;
    background-color: #f8f8f8;
    position: relative;
    transform: rotate(3deg);
    top:-6em;
    left: -10px;
    
    
    
}
.about-container {
    
    z-index: 2;
    position: relative;
    top:-20em;
    padding: 50px 20px;
    background-color: #f8f8f800;
}

/* Adjust text size for smaller screens */


.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
@media (max-width: 768px) {
    .about-wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
}}

.profile-image-container {
   
    /* -webkit-box-shadow: -5px 7px 18px 1px rgba(0,0,0,0.73); 
box-shadow: -5px 7px 18px 1px rgba(0,0,0,0.73); */
border-radius:10px; 
margin-top: -20em ; 
    
}

.profile-pic {
    
    width: 15em; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */


}
@media (max-width: 768px) {
    .profile-pic {
        position: relative;
        top: 14em;

        
    }
    .h2about-title{
        position: relative;
        top: 4.5em;
        text-align: center;
        
    }
    .about-text{
        position: relative;
        top: 9em;
    }

    
}


.h2about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.about-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Projects Section */
.projects-container {
    
    padding: 50px 20px;
    background-color: #18015c ;
    text-align: center;
    position:relative;
    top: -18em;

}

@media (max-width: 768px) {
    .projects-container {
    position: relative;
    top: -12em;}
}
.project-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h2projects-title {
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
    
}

.laptop {
    position: relative;
    margin: 1em;
    max-width: 40em;
}

.laptop__screen {
    position: relative;
    z-index: 1;
    padding: 3%;
    border-radius: 2rem;
    background: #ecf1f7;
    background-image: linear-gradient(to bottom, #333, #111);
    box-shadow: 0 .1rem 0 #cfcfcf;
    border: 2px solid #ccc;
}

.laptop__screen img {
    display: block;
    max-width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    background: #000;
}

.laptop__bottom {
    position: relative;
    z-index: 1;
    margin-right: -7%;
    margin-left: -7%;
    height: .7rem;
    background: #e9eff5;
    background-image: linear-gradient(to right, #d2dde9 0%, #f9fcff 15%, #e5ebf2 40%, #e5ebf2 60%, #f9fcff 85%, #d2dde9 100%);
}

.laptop__bottom::before {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: .7rem;
    border-radius: 0 0 .2rem .2rem;
    background: #f6f9fc;
    background-image: linear-gradient(to right, #c3cfdb 0%, #f6f9fc 10%, #f6f9fc 90%, #c3cfdb 100%);
    content: " ";
}

.laptop__under {
    position: absolute;
    top: 100%;
    left: 25%;
    display: block;
    width: 50%;
    height: 1.5rem;
    background: #e2e8f0;
    background-image: linear-gradient(to bottom, #e2e8f0, #bec7d1);
}

.laptop__under::before, .laptop__under::after {
    position: absolute;
    top: 0%;
    right: 100%;
    bottom: 0;
    display: block;
    width: 50%;
    border-bottom-left-radius: 100%;
    background: inherit;
    content: " ";
}

.laptop__under::after {
    right: auto;
    left: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
}

.laptop__shadow {
    position: absolute;
    right: -10%;
    bottom: -2.5rem;
    left: -10%;
    z-index: 0;
    height: 2rem;
    background: radial-gradient(ellipse closest-side, #000, transparent);
    opacity: 0.5;
}


.project {
    margin-bottom: 40px;
}

.h3project-title {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #bec7d1;
    
}

.project-description {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

/* Hire Me Section */
.hire-me-container {
    padding: 50px 20px;
    background-color: #fafafa;
    text-align: center;
}

.hire-me-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hire-me-container p {
    font-size: 1.2em;
}

/* Contact Section */
.contact-container {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.contact-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1.2rem;
}

.contact-container ul {
    list-style-type: none;
    padding: 0;
}

.contact-container ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.contact-container ul li a {
    color: #007BFF;
    text-decoration: none;
}

.contact-container ul li a:hover {
    text-decoration: underline;
}
