/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
  width: 100wh;
}

html {
  :-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome/Safari */
    max-width: 100%;
    overflow-x: hidden;
  }
  scroll-behavior: smooth;
  background-color: #00000000;
}

body {
  min-width: 360px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling */
  overflow-x: hidden;
}

/* Navbar General Styles */
.navbar {
  transition: top 0.3s ease-in-out, background-color 200ms ease-in-out; 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: top 0.3s ease-in-out;
  background-color: rgba(
    255,
    255,
    255,
    0.507
  ); /* Dark background color for navbar */
  z-index: 1000; /* Ensures navbar is always on top */
  transition: background-color 200ms; /* Add transition effect for smooth color change */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(
    81,
    79,
    92,
    0.322
  ); /* Apply background color from variable */
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 8px rgba(rgba(240, 236, 236, 0.664), 0.5); /* Add box shadow for some depth */
}

.navbar ul li {
  margin: 0 2em;
  display: inline-block; /* Ensure the list items are inline */
}

.navbar ul li a {
  display: block;
  color: rgb(7, 7, 7); /* Use your grey variable */
  text-align: right;
  font-size: 0.8em;
  font-weight: 900;
  padding: 10px 16px;
  text-transform: uppercase; /* Apply text transformation */
  text-decoration: none;
  letter-spacing: 0.2em;
  position: relative;
  transition: color 200ms;
  z-index: 2; /* Ensures the text is above the background */
}

.navbar ul li a:hover {
  background-color: rgba(8, 8, 8, 0.555); /* Change to blue on hover */
  color: menu-background; /* Inverse the color when hovered */
}

/* Hover Effects with 3D Transform */
.navbar ul li a::after {
  content: attr(data-title); /* Display the same text in the after element */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 14px 16px;
  background-color: rgb(255, 0, 0); /* Color changes dynamically */
  color: transparent; /* Initially hide the text */
  transform-origin: 50% 0%;
  backface-visibility: hidden;
  transform: translate3d(0, -100%, 0) rotateX(-90deg); /* Start with 3D rotation */
  transition: transform 200ms ease-in-out;
  z-index: -1;
}

.navbar ul li a:hover::after {
  color: white;
  transform: translate3d(0, 0, 0) rotateX(0deg); /* Animate into place */
}

@media (max-width: 600px){
  .navbar ul li a {
  
    text-align: right;
    font-size: 0.8em;
    
    padding: 10 1px;
    
  }
  
.navbar ul li {
  margin: 0 0em;
 
}
}
/* Hero Section */

.herosection {
  background-image: url("public/intro-bgDarkVersion.jpg"); /* Add your background image */
  background-size: cover; /* Cover entire section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* No repetition of the image */
  height: 100%;
  width: 100%; /* Full viewport height */
  min-height: 900px;
  position: absolute; /* Contain absolutely positioned elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent any overflow */
}

.theMoon {
  min-height: 600px;

  /* position: relative;
    top: -25rem;
    left: -40rem;
    transform: translateX(-50%); */
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 50%;
}
.text-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 10em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Hero Text Styles */

.herotText {
  z-index: 4;

  font-size: 4.5em; /* Adjust size as per your design */
  font-weight: bold;
  color: white; /* Default text color */
  text-transform: uppercase;
  line-height: 1; /* Spacing between the lines */
}

.herotText .highlight {
  z-index: 4;
  -webkit-text-stroke: 2px rgb(255, 0, 0);
  color: transparent;
  transition: color 0.6s ease;
}
.highlight:hover {
  color: red;
}
/* Undertext Styles */
.herotUnderText {
  z-index: 5;
  font-size: 1.8em; /* Adjust size */
  color: #ffffff; /* Set the color of the under text */

  max-width: 60%; /* Control width for better readability */
  text-align: center;
}
.T {
  position: relative;
  z-index: 2;
}
.SKY {
  z-index: 1; /* Ensure it stays behind the moon */
  font-size: 3.5em;
  position: absolute; /* Ensure it's positioned correctly */
  top: 1.5em; /* Adjust as necessary */
  /* Adjust position relative to the hero section */
  color: white;
}

.CTA-wrapper {
  z-index: 3;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 22em;
}

.cta {
  display: flex;
  padding: 0em 1em;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background: #3d21ba;
  transition: 1s;
  box-shadow: 6px 6px 0 rgb(215, 215, 215);
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #9c0606;
}

.cta .cta-text {
  transition: 0.5s;
}

.cta:hover .cta-text {
  margin-right: 45px; /* Adjust margin for specific text */
}

.cta-icon path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.cta-icon path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .cta-icon path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .cta-icon path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .cta-icon path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

* {
  box-sizing: border-box;
}

/* ABOUT SECTION */

.separator1 {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 8em;
  /* min-height:850px ; */
  min-height: 650px;
  height: 110%;
}

.profile-image-container {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 9em;
  overflow: hidden;
}

.profile-pic {
  max-width: 19em; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}

.about-text-container {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 20em;
}

.about-text {
  text-align: justify;
  font-size: 1.3rem;

  padding: 0em 8em;
}
.h2about-title {
    font-family: "Shadows Into Light", cursive;
  font-size: 3em;
color: rgb(48, 4, 170);
  display: flex;
  flex-direction: column;
}

/* Adjust text size for smaller screens */

/* Projects Section */
.project-link ,a {
  color: black;
  text-transform: uppercase;
  text-align: center ;
}

/* <!--------------------> */

.test {
  position: relative;
  top: 30em;
  width: 100%;
  height: fit-content;
}

.projects-section {
  position: relative;
  top: 20em;

  background: linear-gradient(-45deg, #ff9900, #c27400, #4b0175, #013126);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: 2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projects-box {
  flex-direction: row;
  z-index: 1;

  padding: 2.5em;
}

.project-wrap {
  display: flex;
  flex-direction: column;
}

.display {
  overflow: hidden;
  align-items: center;
  justify-content: center;

  display: flex;
}
.h3project-title {
  text-align: justify;
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin: 0;
}
.project-description {
  margin: 4em 3em;
  font-size: 1.5em;
  color: #fff;
  text-align: justify;
}

/* iframe previewer */

iframe {
  transform: scale(0.219);
  transform-origin: top left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-color: #000;
}
.mobile {
  background-image: url("public\iphone-optimised.png");
  position: relative;
  width: 11.88em;
  height: 24.5em;
  background-repeat: no-repeat;

  background-size: cover; /* Cover entire section */
  background-position: center;
  top: 1em;
  left: 10em;
  z-index: 5;
}
.mobile iframe {
  width: 660px;
  height: 990px;
  top: 64px;
  left: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.tablet {
  background-image: url("public\ipad-optimised.png");
  width: 246px;
  height: 400px;
  z-index: 3;
  position: absolute;
  left: 120px;
  top: 230px;
}
.tablet iframe {
  width: 820px;
  height: 1074px;
  top: 35px;
  left: 38px;
  overflow-y: hidden;
}
.laptop {
  background-image: url("public\laptop-screen-optimised.png");
  width: 59.63em;
  height: 38.38em;

  background-size: cover; /* Cover entire section */
  background-position: center;
  top: 0em;
  left: -6em;
  position: relative;
  z-index: 2;
}
.laptop iframe {
  width: 2560px;
  height: 1604px;
  top: 52px;
  left: 120px;
  transform: scale(0.277);
  -webkit-transform: scale(0.277);
  -o-transform: scale(0.277);
  -ms-transform: scale(0.277);
  -moz-transform: scale(0.277);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
}
.desktop {
  position: absolute;
  width: 566px;
  height: 538px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/large-screen-optimised.png");
  top: 0px;
  left: 220px;
  z-index: 1;
}
.desktop iframe {
  left: 28px;
  top: 38px;
  width: 1600px;
  height: 992px;
  transform: scale(0.3181);
  -webkit-transform: scale(0.3181);
  -o-transform: scale(0.3181);
  -ms-transform: scale(0.3181);
  -moz-transform: scale(0.3181);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
}

@media (max-width: 966px) {
  .mobile {
    top: 1.5em;
    left: 2em;
  }
  .laptop {
    display: none;
  }
  .project1 {
    margin: 0 2em;
  }
}
#carbonads {
  max-width: 400px;
  margin: 1em auto;
}
/* To position the text beside the image: */

.carbon-img {
  float: left;
  margin-right: 8px;
}
.carbon-text {
  display: block;
}
/* To position the text below the image: */

.carbon-text {
  display: block;
  width: 130px;
}

/* To separate the attribution from the text: */

.carbon-poweredby {
  float: right;
}
.carbon-text {
  padding: 8px;
}
/* To add a border around the ad: */

#carbonads {
  padding: 15px;
  border: 1px solid #ccc;
}
/* To style the text and attribution: */

.carbon-text {
  font-size: 12px;
  color: orange;
}
.carbon-poweredby {
  font-size: 75%;
}

/* Hire Me Section */
.hire-me-container {
  padding: 50px 20px;
  background-color: #fafafa;
  text-align: center;
}

.hire-me-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.hire-me-container p {
  font-size: 1.2em;
}

/* 
sliding */

.carousel {
  position: relative;

  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  /* display: none; */
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

@media (max-width: 910px) {
  .separator1 {
    top: 12em;
  }
  .projects-section {
    top: 20em;
  }

  .h2about-title {
    top: 2em;
  }
  .about-text {
    padding: 0em 2em;
  }
}

@media (max-width: 775px) {
  .herotText {
    font-size: 4em;
  }

  .SKY {
    font-size: 3em;
  }

  .herotUnderText {
    display: none;
  }
  .CTA-wrapper {
    top: 17em;
  }

  .separator1 {
    top: 20em;
  }
  .h2about-title {
    display: none;
  }
  .about-text {
    padding: 0em 2em;
  }

  .project-description {
    margin: 2em 0em;
  }
}

@media (max-width: 500px) {
  .herotText {
    font-size: 4.5em;
  }
  .SKY {
    font: 2.5em;
    top: 2em;
  }
  .CTA-wrapper {
    top: 20em;
  }

  .profile-pic {
    width: 18em;
  }
}
/* 
 ALLOALBERTA */

.Alloalberta-container {
  



}
.Alloalberta-img{
  position: absolute;
  scale: 1.1;

}

 .phone-frames {overflow: hidden;
  display: flex;
  justify-content: center;
min-width: 375px;
 
  margin: 4em 0; /* Adjusted top/bottom margin only */
}

.phone-frame1  {
  margin-right: -1em;
  width: 200px; /* Set the width of the phone frame */
  height: 400px; /* Set the height of the phone frame */
  border: 10px solid #000; /* Frame border color */
  border-radius: 30px; /* Rounded corners */
  overflow: hidden; /* Ensure content does not overflow */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
  position: relative;
  min-width: 200px;
}
.phone-frame2 {
  margin-left: -1em;
  width: 200px; /* Set the width of the phone frame */
  height: 400px; /* Set the height of the phone frame */
  border: 10px solid #000; /* Frame border color */
  border-radius: 30px; /* Rounded corners */
  overflow: hidden; /* Ensure content does not overflow */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
  position: relative;
  min-width: 200px;

}

.phone-frame1 .phone-frame2 img {
  width: 100%; /* Make the image fill the frame */
  height: auto; /* Maintain aspect ratio */
}
@media (max-width: 675px) {
  .phone-frame2{
    display:none;
  }
  
}



/* tools */

/* Scoped root styles inside .scoped-layout */
.scoped-layout {
  overflow: hidden;

  position: relative;
  top: 20em;
  background-color: rgb(0, 0, 0);
  --rotate-speed: 20;
  --count: 8;
  --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --easing: cubic-bezier(0, 0.37, 1, 0.63);
}
@media (max-width: 500px) {

.card {
  scale: 0.6;
}

}
/* Reset styles specifically for the layout */

/* Ensure the layout area behaves independently */
.scoped-layout .void {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
}

.scoped-layout ul:hover * {
  animation-play-state: unset;
}

.scoped-layout ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 2px dotted rgb(0, 0, 0);
  z-index: 1;
}

.scoped-layout li {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  width: 100%;
  animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

.scoped-layout .card {
  width: 25%;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 8px 16px;
  gap: 2px;

  margin: 0;

  animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

/* Scoped <a> tag styles */
.scoped-layout a {
  text-decoration: none;
  color: unset;
}

.scoped-layout a:hover {
  color: #3b2ed0;
}

.scoped-layout .model-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #726ea1;
  display: block;
}

.scoped-layout svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Animating individual list items */
.scoped-layout li:nth-child(1),
.scoped-layout li:nth-child(1) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}
.scoped-layout li:nth-child(2),
.scoped-layout li:nth-child(2) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}

.scoped-layout li:nth-child(3),
.scoped-layout li:nth-child(3) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -2.6s);
}

.scoped-layout li:nth-child(4),
.scoped-layout li:nth-child(4) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1.5s);
}

.scoped-layout li:nth-child(5),
.scoped-layout li:nth-child(5) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -4s);
}

.scoped-layout li:nth-child(6),
.scoped-layout li:nth-child(6) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1.9s);
}

.scoped-layout li:nth-child(7),
.scoped-layout li:nth-child(7) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -8s);
}

.scoped-layout li:nth-child(8),
.scoped-layout li:nth-child(8) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -9s);
}
.scoped-layout li:nth-child(9),
.scoped-layout li:nth-child(9) .card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -6.5s);
}
.scoped-layout .last-card {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -4.8s);
}
/* .scoped-layout li:nth-child(11), .scoped-layout li:nth-child(1) .card {
    animation-delay: calc((var(--rotate-speed) / var(--count)) * -5.8s);
} */
/* Keyframes for animations */
@keyframes rotateCW {
  from {
    transform: translate3d(0px, -50%, -1px) rotate(-45deg);
  }
  to {
    transform: translate3d(0px, -50%, 0px) rotate(-315deg);
  }
}

@keyframes rotateCCW {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(315deg);
  }
}

@keyframes pulseGlow {
  from {
    background-size: 60%;
  }
  to {
    background-size: 100%;
  }
}

/* Circle elements within the layout */
.scoped-layout .center-circle {
  position: absolute;
  width: 230px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #d9ff00;
  box-shadow: 10px 18px 36px -1px rgba(230, 255, 3, 0.527),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}

.scoped-layout .second-circle {
  position: absolute;
  width: 40%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1a0d8d;
  opacity: 0.8;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}

.scoped-layout .last-circle {
  position: absolute;
  width: 66%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #10056e;
  opacity: 0.25;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}

.scoped-layout .crop {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1)
  );
}

.scoped-layout .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  animation: pulseGlow 5s linear infinite alternate;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    100% 50% at 100% 50%,
    rgba(60, 26, 229, 0.25) 0%,
    rgba(32, 26, 229, 0) 100%
  );
}

.scoped-layout .mask:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  background-image: linear-gradient(
    180deg,
    rgba(60, 26, 229, 0) 0%,
    #3c1ae5 50%,
    rgba(60, 26, 229, 0) 100%
  );
}

.tooltext {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #080707;
  text-align: center;
  z-index: 9999;
}

.typing-animation {
  z-index: 99;
  left: 45%;
  top: 49%;
  font-size: xxx-large;
  position: absolute;

  color: #000000;

  overflow: hidden;
  width: 4.5em; /* Change this value based on the length of your longest item */
}

.separator2 {
  position: relative;
  top: 19em;
  margin-bottom: -60em;
}
@media (max-width: 775px) {
  .typing-animation {
    font-size: 2em;
    left: 44%;
  }
}

/* Contact form */



/* Form wrapper and container */
.contact-wrapper {
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: 75em;
    
}

.contact-me-container {

  min-width:250px;
  width: 65%;
  
    padding: 4em 1%;
    border-radius: 20px;
    background-color: #0a0333;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-out, box-shadow 0.2s;
    color: #fff;
    position: absolute;
}

/* Remove borders from form and inputs */


 
.contact_form * {
  border: none !important;



 
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.GetInTouchText{
  text-align: center;
}

input, textarea {
    background-color: #000000;
   
    border-bottom: 2px solid #4b4545; /* Optional: Underline for inputs */
    border-radius: 0; /* Remove rounding */
    padding: 12px;
    color: #fff;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 20px;
    
}

/* On focus - Underline color change */
input:focus, textarea:focus {
    border-bottom-color: #ffd000;
    background-color: #1c3a57;
    box-shadow: 0 0 12px #ff6347;
}

/* Button styling */
.submit {
    width: 20%;
    padding: 12px;
    background-color: #6206a5;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

/* Animating the container */
.contact-wrapper:hover .contact-me-container {
    transform: scale(1.02);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.7);
}

/* Testimonials styling */
.snip1574 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 15px;
    min-width: 280px;
    max-width: 340px;
    width: 100%;
    background-color: #111;
    color: #eee;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
}

.snip1574:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6);
}

.snip1574 h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.snip1574 p {
    padding: 0 20px;
    margin-bottom: 20px;
}

.snip1574 i {
    font-size: 48px;
    margin: 15px 0;
    color: #ffd000;
}
@media (max-width: 500px) {

  input, textarea {
    padding: 0;
  }
  .contact-me-container{
      width: 95%;
  }
}


/* testemonials */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1574 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.testemonials-container {
  min-width: 60px;
  position: relative;
  top: 80em;
  display: flex;
  justify-content: center;
}

.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.7;
}

.snip1574 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.testemonials-container {
  
  padding: 5em;
}

@media (max-width: 950px) {

    .testemonials-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

}



  
.footer {
  top:90em;
  position: relative;
  margin-top: 300px;
  padding: 3rem 0;
  color: #fff;
  background: #000;
  margin-top: auto;
}




@keyframes parralax {
  0% {
    background-position: 260px;
  }
  100% {
    background-position: -10000vw;
  }
}
@keyframes moto {
  0% {
    transform: translateY(0) rotate(0);
  }
  5% {
    transform: translateY(0) rotate(-5deg);
  }
  25% {
    transform: translateY(60px) rotate(-20deg);
  }
  49% {
    transform: translateY(0) rotate(-1deg);
  }
  51% {
    transform: translateY(0) rotate(1deg);
  }
  75% {
    transform: translateY(60px) rotate(20deg);
  }
  80% {
    transform: translateY(60px) rotate(0deg);
  }
  98% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes voiture {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.footer__parralax {
  position: absolute;
  left: 0;
  top: -300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.footer__parralax-premierplan {
  background-position: 260px;
}
.footer__parralax-trees, .footer__parralax-premierplan, .footer__parralax-secondplan {
  position: absolute;
  inset: 0;
  background-repeat: repeat-x;
  background-position-y: 100% !important;
  animation: parralax 600s linear infinite;
}

.footer__parralax-voiture {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: 250px;
  height: 114px;
  width: 206px;
  background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);
  background-repeat: no-repeat;
  animation: voiture 1s linear infinite;
}
.footer__parralax-trees {
  background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
  bottom: -60px;
  animation-duration: 1000s;
}
.footer__parralax-premierplan {
  background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
  animation-duration: 500s;
}
.footer__parralax-secondplan {
  background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
  animation-duration: 600s;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px 0;
  margin: 0 auto;
}

.footer-content a {
  text-align: center;
  color: #0074d3; /* Adjust this to match your site's theme */
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0em 5em;



}






.social-wrraper{
  display: flex;
  flex-direction: column;
margin: 1em 3em;
}
@media  (max-width: 768px) {
  .social-wrraper{
    margin: auto;
  }
  
}